body {
    font-family: 'geonms';
    color: white;
    font-size: 22px;
    text-shadow: 2px 2px #555;
}
html {
    background: url("../images/NMS_NEXT_HERO-hero.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;

}

#start {
    margin-top: 10px;
}

td:hover {
    cursor: pointer;
}

@media screen and (max-width: 414px) {
    html {
      height: 110vh;
    }
  }

  @media screen and (max-width: 375px) {
    html {
      height: 140vh;
    }
  }